@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #8D8D8D;;
  font-family: 'Russo One', sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}